.grids{
    margin-left: 20px;
}
.gridrow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.deadcell{
    height: 30px;
    width: 30px;
    background-color: white;
    border-collapse: collapse;
}
.cntr{
    margin:20px;
    padding: 10px;
    font-size: 30px;
}